<p style="color: green"><%= notice %></p>


<div id="profiles">
  <% @profiles.each do |profile| %>
  <% if profile.user == current_user %>
    <%= render profile %>
     <p>
      <%= link_to "Show this profile", profile %>
     </p>
  <% end %>
  <% end %>
</div>

<% unless current_user.profiles.any? %>
	<%= link_to "New profile", new_profile_path %>
<% end %>