<html lang="en" class="h-100" data-bs-theme="auto">

  <body class="d-flex h-100 text-center text-bg-dark">


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="mb-auto">
</header>
  <main class="px-3">
    <h1>Find the job for you</h1>
    <p class="lead">APPNAME is perfect for college students searching for internships and jobs, and for employers looking for people to join their team.</p>
    <p class="lead">
      <li class="btn btn-lg btn-light fw-bold border-white bg-white">
      	<%= link_to "All Jobs", job_posts_path%>
      </li>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>footer</p>
  </footer>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
